.loginContainer {
    display: flex;
    margin: 0 auto;
    height: 100vh;
    min-width: 100vh;
}

.sideText {
    align-items: center;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 100%;
    margin: 0;
    max-width: 45%;
    min-width: 35%;
}

.formLoginConteiner {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 55%;
    min-width: 65%;
}

.formLogin {
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.formLabel {
    text-align: center;
}
